In [1]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [2]:
#pip install gmaps

In [3]:
import gmaps

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Coahuayana,MX,2020-11-09 03:07:13,18.73,-103.68,75.11,87,10,2.08
1,1,Iqaluit,CA,2020-11-09 03:08:22,63.75,-68.51,17.60,72,90,5.82
2,2,Avarua,CK,2020-11-09 03:08:23,-21.21,-159.78,78.80,69,84,12.50
3,3,Sur,OM,2020-11-09 03:08:23,22.57,59.53,77.40,61,0,2.51
4,4,Tasiilaq,GL,2020-11-09 03:08:23,65.61,-37.64,32.68,96,100,31.03

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"] # an array of equal length of the locations array.
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Coahuayana,MX,2020-11-09 03:07:13,18.73,-103.68,75.11,87,10,2.08
2,2,Avarua,CK,2020-11-09 03:08:23,-21.21,-159.78,78.80,69,84,12.50
3,3,Sur,OM,2020-11-09 03:08:23,22.57,59.53,77.40,61,0,2.51
9,9,Hobart,AU,2020-11-09 03:08:15,-42.88,147.33,79.00,40,0,5.82
11,11,Madalag,PH,2020-11-09 03:08:24,10.90,122.98,82.11,80,28,1.68
13,13,Doka,SD,2020-11-09 03:08:25,13.52,35.77,76.86,26,99,3.56
21,21,Atuona,PF,2020-11-09 03:08:26,-9.80,-139.03,77.67,63,55,13.40
30,30,Sola,VU,2020-11-09 03:08:28,-13.88,167.55,81.23,80,100,10.25
32,32,Cap Malheureux,MU,2020-11-09 03:08:28,-19.98,57.61,75.99,76,18,8.01
36,36,Butaritari,KI,2020-11-09 03:08:29,3.07,172.79,81.99,65,1,8.79

In [13]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0       Coahuayana      MX     75.11  18.73 -103.68
2           Avarua      CK     78.80 -21.21 -159.78
3              Sur      OM     77.40  22.57   59.53
9           Hobart      AU     79.00 -42.88  147.33
11         Madalag      PH     82.11  10.90  122.98
13            Doka      SD     76.86  13.52   35.77
21          Atuona      PF     77.67  -9.80 -139.03
30            Sola      VU     81.23 -13.88  167.55
32  Cap Malheureux      MU     75.99 -19.98   57.61
36      Butaritari      KI     81.99   3.07  172.79

In [17]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.